<tr>
  <td>
    <span class="pull-right">
      <%= link_to "<i class='icon-star#{'-empty' if todo.checked == false}'></i>".html_safe, checked_todo_path(todo), class: "btn btn-mini" %>
      <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_todo_path(todo), class: "btn btn-mini" %>
      <%= link_to '<i class="icon-trash icon-white"></i>'.html_safe, todo, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-mini btn-danger" %>
    </span>
    
    <%= markdown(todo.content).html_safe %>
  </td>
</tr>